.product-details .product-content{
    padding: 40px 0px;
}
.product-details .product-content .product-content-article h6{
    text-transform: uppercase;
    color: rgb(61, 60, 60);
}
.product-details .product-content .product-content-article .desc{
    font-size: 18px;
    color: rgb(92, 91, 91);
    font-family: 'DM Sans', sans-serif;
}
.product-details .product-content img {
    width: 180px;
    height: auto;
}