.search-product-list {
  position: absolute;
  top: 62px;
  z-index: 1;
  width: 400px;
  height: 500px;
  overflow-y:auto;
}
.search-product-list .search-items-wrapper {
  background-color: whitesmoke;
  border-radius: 12px;
}
.search-product-list .search-item {
  padding: 6px 12px;
}
/* .search-product-list .search-item:hover {
  background-color: grey;
} */
/* .search-product-list .no-search-result p {
  color: rgb(92, 91, 91);
} */
