.navbar .container-fluid a span{
    color: rgb(219, 7, 7);
}
.navbar-toggler {
    padding: 0px;
    border: none;
}
.navbar-expand-lg .navbar-nav .active{
    /* width: max-content;
    border-bottom: 2px solid rgb(0, 255, 221); */
    color: red;
}