@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Gloria+Hallelujah&family=Lato:wght@300;900&family=Libre+Baskerville:wght@400;700&family=Patrick+Hand&family=Permanent+Marker&family=Poppins:wght@600;700&family=Rubik:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
